
.individualitems{
    background-color: white;
    width: 130px;
    box-shadow: 2px 3px 2px rgba(73, 73, 73, 0.327);
    /* border: 1px gray; */
    padding: 5px;
    margin-top: 25px;
    margin: 2px;
    border-radius: 10px;
    display: flex;
    box-sizing: content-box;
}

.individualitems img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.individualitems .discountPrice{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through;
}
.individualitems .titledescription{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.individualitems span{
    font-size: small;
}
.individualitems .itemtype{
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 15px;
    color: white;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}